* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Playfair Display;
    color: #626262;
}

.header {
    height: 190px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;

}

.menu {
    text-align: center;
    vertical-align: middle;
    font-size: 0;
}

.menu-item {
    display: inline-block;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 190px;
    margin: 0 2rem;

}

.wrapper {
    width: 900px;
    margin: 0 auto;
    display: block;
}


.card {
    display: block;
    width: 420px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    float: left;
    margin-bottom: 130px;

}

.card:nth-child(even) {
    float: right;
}

.card img {
    margin-bottom: 30px;
}

.upper {
    text-transform: uppercase;
    color: #b4ad9e;
    font-family: Ubuntu;
    font-size: 14px;
    line-height: 17px;
    font-weight: lighter;
}

a {
    text-decoration: none;
    color: #626262;
}

a:hover {
    color: #03a9f4;
}

h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 95px;

}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}


footer {
    text-align: center;
    vertical-align: middle;
}

.center {
    margin: 0 auto;
    text-align: center;
}

button {
    background: transparent;
    border-width: 1px;
    border-color: #626262;
    border-style: solid;
    padding: 0;
    width: 162px;
    height: 58px; 
    font-size: 20px;
    font-family: "Playfair Display";
    color: #626262;
    line-height: 1.2;
}