* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #e9f0fd;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
    
}

.header {
    max-width: 100%;
    min-height: 70px;
    padding: 35px 0;
    text-transform: uppercase;
    font-weight: bold;
    vertical-align: middle;
    position: relative;
   
}

.logo {
    float: left;
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}

.menu li {
    float: left;
}

.menu_item {
    margin-right: 35px;
    font-size: 14px;
}

.menu_item:last-child {
    margin-right: 0px;
}

a {
    text-decoration: none;
    color: #0f0101;
    cursor: pointer;
}

.menu_item a:hover {
    color: #1abc9c;
}

.article {
    background-color: #e9f0fd;
}

.slider {
    position: relative;
    width: 100%;
    height: 600px;
    z-index: 1;
    background-image: url("../homework-05/img/slide_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    

}

.slider_item {
    position: relative;
    width: 1140px;
    height: 600px;
    margin: 0 auto;
}

.slider_title {
    width: 800px;
    padding: 5px;
    position: absolute;
    z-index: 2;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.slider_text {
    padding: 0 110px;
    position: absolute;
    padding: 10px;
    z-index: 2;
    top: 55%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: lighter;
    color: #fff;
    text-transform: uppercase;

}

.slider_button {
    position: absolute;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.651;
    z-index: 3;
    border: none;
    outline: none;
}

.slider_next {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.slider_prev {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.slider_next::before,
.slider_prev::before {
    content: "";
    --s: 28px;
    --bd: 4px solid #fff;
    width: var(--s);
    height: var(--s);
    border-left: var(--bd);
    border-top: var(--bd);
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.slider_next::before {
    left: 45%;
    transform: translate(-50%, -50%) rotate(135deg);
}

.slider_prev::before {
    left: 55%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.slider_control {
    display: inline-block;
    background-color: #1abc9c;
    width: 104px;
    height: 104px;
    z-index: 2;
    border: none;
    top: 50%;
    transform: translateY(-50%);
}

.slider_prev:hover,
.slider_next:hover {
    background-color: #4ec6ab;
    opacity: 1;
    cursor: pointer;
}

h2 {
    position: relative;
    text-align: center;
    font-size: 60px;
    color: #555252;
    text-transform: uppercase;
    padding: 105px;
}

h2::after {
    display: block;
    height: 7px;
    width: 165px;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1abc9c;
    content: "";
}

.products {
    width: 100%;
    margin: auto;
    height: auto;
    padding-bottom: 100px;
    overflow: hidden;
    list-style: none;
}

.product_item {
    position: relative;
    width: 255px;
    height: 322px;
    float: left;
    margin-right: 30px;
    background: #fff;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px hsla(0, 0%, 0%, .2);
}

.product_item:last-child {
    margin-right: 0px;
}

.product-img-wrp {
    overflow: hidden;
    height: 100%;
    line-height: 1.5;
    text-align: center;
}

.cart-img-wrp {
    overflow: hidden;
    height: 283px;
    line-height: 1.5;
    text-align: center;
}

.cart-img {
    vertical-align: middle;
    max-width: 100%;
}

.under_image {
    width: inherit;
    
    position: absolute;
    bottom: 0;
    background: #323232;
    color: #fff;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    transition-duration: 0.3s;

}

.goods {
    position: relative;
}

.name {
    float: left;
    padding: 10px;
}

.cost {
    padding: 10px;
    width: 20%;
    text-align: center;
    float: right;
    background: #8c8c8c;
    
    transition-duration: 0.3s;
}

.wrapper_icon {
    position: absolute;
    top: 0;
    width: 255px;
    height: 283px;
    border: 10px solid #fff;
    background-color: rgba(50, 50, 50, 0.5);
    font-family: "Myriad Pro";
    text-transform: uppercase;
    z-index: -5;
}

.icons {
    width: 170px;
    height: 107px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product_item:hover .wrapper_icon {
    z-index: 5;

}

.icon_item {
    position: relative;
    width: 50px;
    height: 50px;
    margin-bottom: 7px;
    float: left;
    list-style: none;
    border: 1px solid #fff;
}

.icons li:nth-child(2) {
    margin: 0 10px;
}

.icons li:nth-child(4) {
    border: none;
}

.icon_item_add {
    position: absolute;
    top: 55%;
    width: 170px;
    height: 50px;
    list-style: none;
    border: 1px solid #fff;
}

.icon_item img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.icon_item_add a {
    position: absolute;
    padding: 15px;
    right: 0;
    color: #fff;
    font-family: "Myriad Pro";
}

.icon_item:hover {
    background-color: #1abc9c;
}

.icon_item_add:hover {
    background-color: #323232;
}

.icons:hover li:nth-child(4) {
    background-color: #323232;
}

.product_item:hover .under_image {
    background-color: #1abc9c;
}

.product_item:hover .cost {
    background-color: #7fd9c7;
}

.footer {
    width: 100%;
    min-height: 70px;
    background-color: #323232;
}

.footer a {
    color: #fff
}

.contacts {
    text-align: center;
    padding: 30px;
    margin: 0 auto;
    font-size: 16px;
    font-family: "Myriad Pro";
    color: #fff
}

.contacts a:hover {
    color: #1abc9c
}