html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $main-font-stack;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border: 0;
}

.upper {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.button {
  display: block;
  cursor: pointer;
  text-transform: uppercase;
}

.line {
  border-top: 1px solid rgb(229, 229, 229);
}
