.button:hover {
  background-color: $secondary-link-color;
  border-color: $secondary-link-color;
}

.bunner__button {
  margin: 0 auto;
  border-style: solid;
  border-width: 3px;
  border-color: $link-color;
  background-color: rgba(0, 0, 0, 0);
  width: 164px;
  height: 44px;
  font-size: 14px;
  font-family: "Montserrat";
  color: $link-color;
  font-weight: bold;
  line-height: 1.2;
}

.mail__button {
  padding: 10px 30px;
  font-size: 16px;
  font-family: "Myriad Pro";
  color: $link-color;
  background: transparent;
  background-color: $main-icon-color;
  border: 0;
}